.register::before {
    left: 30%;
    bottom: 80%;
}
.register::after {
    left: 20%;
    bottom: 75%;
}


.reg:first-child{
    left: 30vw;
    top: 2vh;
}

.reg:last-child{
    right: 30vw;
    bottom: 2vh;
}