:root {
    --bg-color: #24242d;

    /*forms.css*/
    --form-control-color: rebeccapurple;
    --drop1-color: linear-gradient(
            #1845ad,
            #23a2f6
    );
    --drop2-color: linear-gradient(
            to right,
            #ff512f,
            #f09819
    );
    --form-color: rgba(255, 255, 255, 0.13);
    --form-border-cl: rgba(255, 255, 255, 0.1);
    --input-bg-color: rgba(255, 255, 255, 0.07);
    --submit-button-color: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);

    /*index.css*/
    --text-sh1: rgba(157, 80, 80, 0.96);
    --text-sh2: #000000;
    --text-color: #ede8e8;
    --squares-color: rgba(255, 255, 255, 0.2);


}


body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    overflow: hidden
}

.homecontent, .logincontent, .registercontent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.font_text {
    color: var(--text-color);
    text-shadow: 0 2px 2px var(--text-sh2), 0 -3px 2px var(--text-sh1);
}

.button-paper {
    margin: 0;
    background-color: var(--text-sh1);
    box-shadow: rgba(0, 0, 0, .9) 15px 28px 25px -18px;
    box-sizing: border-box;
    border: 2px solid black;
    color: var(--text-color);
    cursor: pointer;
    font-family: Neucha, sans-serif;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-radius: 255px 15px 225px / 15px 225px 15px 255px
}

.button-paper:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0)
}

.button-paper:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px
}