/*used in login and register form*/
@import url("https://fonts.googleapis.com/css?family=Sniglet");
.form_top{
    position: fixed;
}
.form_shape {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.shape {
    width: 90px;
    height: 90px;
    border-radius: 0 50% 50% 50%;
    border: 1px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    position: absolute;
    z-index: -1;
}

.shape:first-child {
    background:var(--drop1-color);
}

.shape:last-child {
    background: var(--drop2-color);
}
.form_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:fit-content;
    width: 30vw;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    overflow: hidden;
    padding: 40px 30px 30px 30px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;

}
.form_content *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
}

.form_content::before, .form_content::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 40% 45% 40% 35%;
    z-index: -1;
}
.form_content::before {
    background-color: rgba(69, 105, 144, 0.73);
    -webkit-animation: wawes 20s infinite linear;
    -moz-animation: wawes 20s infinite linear;
    animation: wawes 20s infinite linear;
}
.form_content::after {
    background-color: rgba(2, 128, 144, 0.66);
    -webkit-animation: wawes 21s infinite;
    -moz-animation: wawes 21s infinite;
    animation: wawes 21s infinite;
}

.form_content h3 {
    font-size: 2rem;
    line-height: 4vh;
    text-align: center;
}

.form_content label {
    color: var(--text-color);
    display: block;
    margin-top: 1vh;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.form_content input {
    display: block;
    height: 5vh;
    width: 50%;
    background-color: var(--input-bg-color) ;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 1vh;
    margin-bottom: 5vh;
    font-size: 1rem;
    font-weight: 200;
}

.form_content ::placeholder {
    color: #e5e5e5;
}

.form_content .button-form {
    width: 20vw;
    font-size: 1rem;
    font-weight: 600;
}

.form_content .show_pass{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    margin: 4px;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    background-color: whitesmoke;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: whitesmoke;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}


@-webkit-keyframes wawes {
    from {
        -webkit-transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes wawes {
    from {
        -moz-transform: rotate(0);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes wawes {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.err_msg {
    position: relative;
    align-self: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, .9) 15px 28px 25px -18px;
    box-sizing: border-box;
    font-family: Neucha, sans-serif;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-radius: 255px 15px 225px / 15px 225px 15px 255px;
    top:6vh;
    border: 1px solid #e9cbc6;
    color: #d2594b;
    background-color: #f0d8d8;
    z-index: 300;
}