.homecontent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.appname {
    margin-top: 20vh;
    text-align:center;
    display:block;
    font-size:10vh;
    line-height:8vh;
    letter-spacing:-4px;
    z-index:100
}

.squares span {
    position:absolute;
    display:block;
    list-style:none;
    width:20px;
    height:20px;
    background:var( --squares-color);
    animation:animate 50s linear infinite;
    z-index:-1
}


@keyframes animate {
    0% {
        transform:translateY(0) rotate(0deg);
        opacity:1;
        border-radius:0
    }

    100% {
        transform:translateY(-1000px) rotate(720deg);
        opacity:0;
        border-radius:50%
    }
}
.button-board{
    align-self: center;
    display:inline-block;
    width: 20vw;
    font-size:1.3rem;
    line-height:23px;
}
.create{
    margin-top:40vh;
}

.log-reg-btns{
    margin-top: 0.5vw;
    margin-right: 2vw;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.button-login-reg{
    width:fit-content;
    font-size:1.3rem;
}
