.login::before {
    left: 30%;
    bottom: -110%;
}
.login::after {
    left: 20%;
    bottom: -105%;
}
.log:first-child{
    left: 30vw;
    top: 15vh;
}

.log:last-child{
    right: 30vw;
    bottom: 15vh;
}