{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
    <div class="homecontent">
        <div class="log-reg-btns">
            {% if g.user is none %}
                <a href="{{ url_for('authentication.show_register') }}" class="button-login-reg button-paper">
                    Register </a>
                <a href="{{ url_for('authentication.show_login') }}" class="button-login-reg button-paper"> Login</a>
            {% else %}
                <form action="{{ url_for('authentication.handle_logout') }}" method="post">
                    <button class="button-login-reg button-paper" type="submit"> Logout</button>
                </form>
            {% endif %}
        </div>
        <div class="appname font_text">GSketch</div>
        <!--momentan doar pentru a afisa pagina -->
        <form action="{{ url_for('board.create_board') }}" method="post" style="display: contents">
            <button class="button-board create button-paper" type="submit">
                Create new board
            </button>
        </form>
        <button class="button-board  button-paper">
            Join board
        </button>
    </div>

    <div class="squares">
    </div>

    <script src="{{ url_for('static',filename='index.js') }}"></script>

{% endblock %}