<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GSketch</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
</head>
<body>
<div class="homecontent">
    <div class="appname">GSketch</div>
    <button class="button-paper">
        Create new board
    </button>
</div>

<div class="squares">
</div>

<script src="{{url_for('static',filename='index.js')}}"></script>
</body>
</html>