{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block body %}

    <div class="logincontent">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="err_msg">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="log-reg-btns form_top">
            <a href="{{ url_for('show_main') }}" class="button-login-reg button-paper"> Home </a>
        </div>

        <div class="form_shape">
            <div class="shape log"></div>
            <form class="form_content login" action="{{ url_for('authentication.handle_login') }}" method="post">
                <h3>Login</h3>
                <label>Email</label>
                <input type="text" placeholder="Email" name="email" required>
                <label>Password</label>
                <input type="password" placeholder="Password" name="password" id="passo" required>
                <div class="show_pass"><input type="checkbox" onclick="checkFunction()">Show Password</div>
                <button type="submit" class="button-form button-paper"> Login</button>
            </form>
            <div class="shape log"></div>
        </div>
    </div>

    <script src="{{ url_for('static',filename='forms.js') }}"></script>
{% endblock %}