{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block body %}

    <div class="registercontent">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="err_msg">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <div class="log-reg-btns form_top">
            <a href="{{ url_for('show_main') }}" class="button-login-reg button-paper"> Home </a>
        </div>

        <div class="form_shape">
            <div class="shape reg"></div>
            <form class="form_content register" action="{{ url_for('authentication.handle_register') }}" method="post">
                <h3 class="font_text">Register</h3>
                <div>
                    <input type="text" name="username" required/>
                    <label for="username">Username</label>
                </div>
                <div>
                    <input type="text" name="email" required/>
                    <label for="email">Email</label>
                </div>
                <div>
                    <input type="password" name="password" id="passo" required/>
                    <label for="password">Password</label>
                </div>
                <div>
                    <input type="password" name="confirm-password" id="confpass" required>
                    <label for="Confirm Password">Confirm Password</label>
                </div>
                <div class="show_pass">
                    <input type="checkbox" onclick="checkFunction()">Show Password
                </div>
                <button type="submit" class="button-form button-paper"> Register</button>
            </form>
            <div class="shape reg"></div>
        </div>
    </div>
    <script src="{{ url_for('static',filename='forms/forms.js') }}"></script>
{% endblock %}